####################################
# Xcode
####################################

# User-specific files
xcuserdata/
*.xcuserstate

# Derived data
DerivedData/
.build/

# Indexes
*.xcindex

####################################
# Obj-C / Swift
####################################
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

####################################
# Playgrounds
####################################
timeline.xctimeline
playground.xcworkspace

####################################
# Swift Package Manager
####################################
# Ignora dependencias descargadas
Packages/
.build/
.swiftpm/xcode/package.xcworkspace
.swiftpm/xcode/xcshareddata/

# Archivos que SÍ puedes versionar:
# Package.resolved (recomendado para apps)
# Package.swift

####################################
# CocoaPods
####################################
# ⚠️ Recomendado versionar Pods/ en apps, NO en librerías
# Pods/

# Archivos de Pods que no deben versionarse
Pods/.DS_Store

####################################
# Carthage
####################################
Carthage/Build/
Carthage/Checkouts/

####################################
# fastlane
####################################
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
fastlane/tmp/

####################################
# Logs & temp
####################################
*.log
tmp/
temp/

####################################
# macOS
####################################
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

####################################
# Certificates & secrets
####################################
*.cer
*.crt
*.pem
*.key
*.p12
*.mobileprovision

####################################
# IDEs
####################################
.idea/
.vscode/
*.swp
*.swo
*.bak

####################################
# Testing & coverage
####################################
*.xccovreport
*.xccovarchive

####################################
# Simulator
####################################
*.simruntime
